.Footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}

.Footer p {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.6rem;
}

.Footer a {
  margin-left: 0.4rem;
  text-decoration: none;
  color: var(--primary-color);
}